<style>
    main{
        display: flex;
        position: relative;
        text-align: center;
    }

    *{
        margin: 0;
        padding: 0;
    }

   body{
        opacity: 2;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('img/grey noise.jpg');
        align-items: center;
        
    }


    .display-4{
        position:center;
        color: Black;
        justify-content: center;
        align-items: center;
        text-align:center;
    }
</style>

<nav>
    <style>
    .navbar-nav {
    display: flex;
    justify-content: center;
    }

    .nav-link {
    text-align: center;
    }
    </style>
</nav>


<div class="main">
    <h1 text centre class="display-4">Do You Want To Look Like Goku</h1>

    <p></a>.</p>
</div>

<footer>
    <style>
  
    </style>
</footer>




